{% extends "../layout/base.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="/assets/css/sell.css">
{% endblock %}
{% block main %}
    <main>
        <section class="sell-container">
            <article>
                <form action={% if product %}"/productupdate/{{product.id}}"{% else %}"/sell" {% endif %} method="post"  class="sell-form" enctype="multipart/form-data">
                    <div class="image-upload">
                        <div class="image-upload-container">
                            <label for="photo">
                                <p>+ Ajouter photos</p>
                            </label>
                            <input type="file" name="photo" id="photo" accept="images/*" autocomplete="off">
                        </div>
                    </div>
                    <div>
                        <label for="name">Titre</label>
                        <input id="name" type="text" name="name" value="{{ product.name ?? '' }}" required>
                    </div>
                    <div>
                        <label for="price">Prix</label>
                        <input id="price" type="text" name="price" value="{{ product.price ?? '' }}" required>
                    </div>
                    <div>
                        <label for="category">Catégorie</label>
                        <select name="category" id="category" value="{{ product.category ?? '' }}" required>
                            <option value="videogame">Jeux vidéo</option>
                            <option value="console">Console</option>
                            <option value="hightech">High Tech</option>
                            <option value="dvd">Films et série</option>
                            <option value="cd">CD</option>
                            <option value="figurine">Figurine</option>
                            <option value="replica">Réplique</option>
                            <option value="card">Carte à collectionner</option>
                            <option value="game">Jeux de société</option>
                            <option value="goodies">Goodies</option>
                            <option value="other">Autre</option>
                        </select>
                    </div>
                    <div>
                        <label for="brand">Marque</label>
                        <input id="brand" type="text" name="brand" value="{{ product.brand ?? '' }}" required>
                    </div>
                    <div>
                        <label for="state">État</label>
                        <select name="state" id="state" value="{{ product.state ?? '' }}" required>
                            <option value="neuf">État neuf</option>
                            <option value="perfect">Parfait état</option>
                            <option value="good">Bon état</option>
                            <option value="ok">État correct</option>
                            <option value="no">Pour pièces</option>
                        </select>
                    </div>
                    <div>
                        <label for="description">Description</label>
                        <textarea name="description" id="description"  >{{ product.description ?? '' }}</textarea>
                    </div>
                    <div class="valid-container">
                        <button type="submit">Vendre</button>
                    </div>
                </form>
            </article>
        </section>
    </main>
{% endblock %}